header {
   display: flex;
   color: white;
   background-color: #b721ff;

}

body {
   background-color: #f7f1e3;

}

p {
   color: #1d3557;

}

.form {
  display: block;
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#diaryTitle {
   font-size: 1.5em; 
   font-weight: bold;
   margin-bottom: 0.75em; 
   height: 1.5em;
   width: 12.5em; 
 }
 
 /* Style for the diary text */
 #diaryText {
   height: 9.375em; 
   width: 18.75em; 
 }

.navBar {
   text-align: center;
   background-color: #1d3557;

   overflow: hidden;
}

.gamePage {
   height: 100vh;
   background-color: #f7f1e3;

   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;
}

section {
   display: grid;
   grid-template-columns: repeat(4, 11rem);
   grid-template-rows: repeat(4, 11rem);
   grid-gap: 1rem;
   perspective: 800px;
}

.card {
   position: relative;
   transform-style: preserve-3d;
   transition: all 2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
   box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px;
}

.face,
.back {
   width: 100%;
   height: 100%;
   position: absolute;
   pointer-events: none;
}

.back {
   background-color: #ebebeb;

   backface-visibility: hidden;
}

.toggleCard {
   transform: rotateY(180deg);
}

.mainTitle {
   justify-content: center;
   background-color: #1d3557;

   padding: 2%;
   font-size: 300%;
}

.PageArea {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 100%;
}

.mheader {
   justify-content: center;
   text-align: center;
   padding: 2%;
}

.navBar {
   position: fixed;
   bottom: 0;
   justify-content: center;
   text-align: center;
   background-color: #00203FFF;
   overflow: hidden;
   width: 100%;
   height: 50px;
}

.navButton {
   font-size: 20px;
   font-weight: bold;
   color: #FFFFFF;
   background-color: #FFA700FF;
   border: none;
   cursor: pointer;
   padding: 0 20px;
   transition: all 0.2s ease-in-out;
   text-transform: uppercase;
   letter-spacing: 1px;
   margin: 0 10px;
   border-radius: 20px;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.3);
}

.navButton:hover {
   transform: translateY(-2px);
   background-color: #0072C6FF;
   box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
}

.navButton:active {
   transform: translateY(0px);
   background-color: #00203FFF;
   box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}

.menubutton {
   margin: 10px;
   margin-top: 1em;
   border-radius: 40%/250%;
   padding: 10px 20px;
   border: 2px solid #2d4059;
   font: inherit;
   color: #2d4059;
   cursor: pointer;
   background-color: #f4f4f4;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   margin: auto;
   font-size: 24px;
   transition: all 0.2s ease-in-out;
}

.menubutton:hover {
   background-color: #e07a5f;
   color: #f4f4f4;
   border-color: #e07a5f;
}


.form {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-size: 16px;
  color: #000000; 
  background-color: #ffffff; 
  border: #000000;
}

.form:focus {
  outline: none;
}

.form::placeholder {
  color: #999999; 
}